"*":
  "atom-ide-ui":
    use: {}
  core:
    disabledPackages: [
      "language-gfm"
      "linter"
    ]
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 20
  "exception-reporting":
    userId: "fcbb016e-c69e-4d90-858d-0cc2ac7649e6"
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
  welcome:
    showOnStartup: false
