# Your snippets
'.source.php':
	'LOG':
		'prefix': 'debug'
		'body': """
			/*<!-- build:debug -->*/
			if ($aeSettings->getDebugMode()) {
				$aeDebug = \\\\MarkNotes\\\\Debug::getInstance();
				$aeDebug->log("$1","debug");
			}
			/*<!-- endbuild -->*/
		"""
	'FILE_LINE':
		'prefix': 'here'
		'body': """
			/*<!-- build:debug -->*/
			$aeDebug = \\\\MarkNotes\\\\Debug::getInstance();
			$aeDebug->here("$1", 1);
			/*<!-- endbuild -->*/
		"""
	'aeCache':
		'prefix': '$aeCache'
		'body': """
			$aeCache = \\\\MarkNotes\\\\Cache::getInstance();
		"""
	'aeDebug':
		'prefix': '$aeDebug'
		'body': """
			$aeDebug = \\\\MarkNotes\\\\Debug::getInstance();
		"""
	'aeEvents':
		'prefix': '$aeEvents'
		'body': """
			$aeEvents = \\\\MarkNotes\\\\Events::getInstance();
		"""
	'aeFiles':
		'prefix': '$aeFiles'
		'body': """
			$aeFiles = \\\\MarkNotes\\\\Files::getInstance();
		"""
	'aeFolders':
		'prefix': '$aeFolders'
		'body': """
			$aeFolders = \\\\MarkNotes\\\\Folders::getInstance();
		"""
	'aeFunctions':
		'prefix': '$aeFunctions'
		'body': """
			$aeFunctions = \\\\MarkNotes\\\\Functions::getInstance();
		"""
	'aeJSON':
		'prefix': '$aeJSON'
		'body': """
			$aeJSON = \\\\MarkNotes\\\\JSON::getInstance();
		"""
	'aeSession':
		'prefix': '$aeSession'
		'body': """
			$aeSession = \\\\MarkNotes\\\\Session::getInstance();
		"""
	'aeSettings':
		'prefix': '$aeSettings'
		'body': """
			$aeSettings = \\\\MarkNotes\\\\Settings::getInstance();
		"""
	'Styled var_dump':
		'prefix': 'vardumper'
		'body': """
			/*<!-- build:debug -->*/
			die("<pre style=\'background-color:yellow;\'>".
			__FILE__." - ".__LINE__." ".
			print_r($1, true).
			"</pre>");
			/*<!-- endbuild -->*/
		"""
	'Styled line':
		'prefix': 'died'
		'body': """
			/*<!-- build:debug -->*/
			die("<h1>Died in ".__FILE__.", line ".__LINE__." : $1</h1>");
			/*<!-- endbuild -->*/
		"""
	'output HTML':
		'prefix': 'html'
		'body': """
			/*<!-- build:debug -->*/
			echo ("<pre style=\'background-color:yellow;\'>".__FILE__." - ".__LINE__.PHP_EOL.str_replace(\'<\',\'&lt;\',trim($1))."</pre>");
			/*<!-- endbuild -->*/
		"""
'.source.asp.vb.net':
	'echo':
		'prefix': 'echo'
		'body': 'wScript.echo "$1"'
'.text.md':
	'readme':
		'prefix': 'readme'
		'body': """
# Project Name

> Quick TD;LR

## Table of Contents

- [Description](#description)
- [Install](#install)
- [Usage](#usage)
- [Author](#author)
- [License](#license)

## Description

## Install

## Usage

## Author

Christophe Avonture

## Contribute

PRs not accepted.

## License

[MIT](LICENSE)
	"""
	'Image Link':
		'prefix': 'img'
		'body': '![$1](%URL%.images/$1)'
	'Include':
		'prefix': 'INC'
		'body': '%INCLUDE folder/*.md%'
	'Table of content':
		'prefix': 'TOC'
		'body': '%TOC_6%'
	'Hyperlink':
		'prefix': 'link'
		'body': '[$1]($2)'
